# Miscellaneous
*.class
*.log
*.pyc
*.swp
/untitled_app/.DS_Store
/untitled_app/.atom/
/untitled_app/.buildlog/
/untitled_app/.history
/untitled_app/.svn/
/untitled_app/migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
.VSCodeCounter/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/untitled_app/.dart_tool/
/untitled_app/.flutter-plugins
/untitled_app/.flutter-plugins-dependencies
/untitled_app/.packages
/untitled_app/.pub-cache/
/untitled_app/.pub/
/untitled_app/build/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/untitled_app/android/app/debug
/untitled_app/android/app/profile
/untitled_app/android/app/release
