<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146952619766-oe04136fscs8alaf1t1hq4ftmfi3kf0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146952619766-oe04136fscs8alaf1t1hq4ftmfi3kf0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>146952619766-upqd72s244pqmnl55s2fpq3hmfraij6q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXIQA15Z5rapqtfouRji800bEDSYagonQ</string>
	<key>GCM_SENDER_ID</key>
	<string>146952619766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitledApp</string>
	<key>PROJECT_ID</key>
	<string>untitled-2832f</string>
	<key>STORAGE_BUCKET</key>
	<string>untitled-2832f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146952619766:ios:96121589adcec92d2b8ed7</string>
</dict>
</plist>